.revenue__box,
.order__box,
.products__box,
.user__box {
    padding: 20px;
    border-radius: 5px;
}

.revenue__box{
    background: var(--card-bg-01);
}

.products__box{
    background: var(--card-bg-02);
}

.order__box{
    background: var(--card-bg-03);
}

.user__box{
    background: var(--card-bg-01);
}

.revenue__box h5,
.order__box h5,
.products__box h5,
.user__box h5 {
    font-size: 1.1rem;
    font-family: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.revenue__box span,
.order__box span,
.products__box span,
.user__box span {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}
